<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminVerificationBE</servlet-name>
        <servlet-class>Electricity_billing_system.adminVerificationBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVerificationBE</servlet-name>
        <servlet-class>Electricity_billing_system.LoginVerificationBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupBE</servlet-name>
        <servlet-class>Electricity_billing_system.SignupBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isPowerAvailable</servlet-name>
        <servlet-class>Electricity_billing_system.isPowerAvailable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewConnectionUsers</servlet-name>
        <servlet-class>Electricity_billing_system.NewConnectionUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleMaintenanceCut</servlet-name>
        <servlet-class>Electricity_billing_system.ScheduleMaintenanceCut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveNewConnection</servlet-name>
        <servlet-class>Electricity_billing_system.ApproveNewConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeNewConnections</servlet-name>
        <servlet-class>Electricity_billing_system.SeeNewConnections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveUserServlet</servlet-name>
        <servlet-class>Electricity_billing_system.ApproveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMeterServlet</servlet-name>
        <servlet-class>Electricity_billing_system.AddMeterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubsidyUsers</servlet-name>
        <servlet-class>Electricity_billing_system.NewSubsidyUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewSubsidyUserSide</servlet-name>
        <servlet-class>Electricity_billing_system.NewSubsidyUserSide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeNewSubsidyReq</servlet-name>
        <servlet-class>Electricity_billing_system.SeeNewSubsidyReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessSubsidyApproval</servlet-name>
        <servlet-class>Electricity_billing_system.ProcessSubsidyApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingBE</servlet-name>
        <servlet-class>Electricity_billing_system.BillingBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getYourBill</servlet-name>
        <servlet-class>Electricity_billing_system.getYourBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminVerificationBE</servlet-name>
        <url-pattern>/adminVerificationBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVerificationBE</servlet-name>
        <url-pattern>/LoginVerificationBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupBE</servlet-name>
        <url-pattern>/SignupBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isPowerAvailable</servlet-name>
        <url-pattern>/isPowerAvailable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewConnectionUsers</servlet-name>
        <url-pattern>/NewConnectionUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleMaintenanceCut</servlet-name>
        <url-pattern>/ScheduleMaintenanceCut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveNewConnection</servlet-name>
        <url-pattern>/ApproveNewConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeNewConnections</servlet-name>
        <url-pattern>/SeeNewConnections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveUserServlet</servlet-name>
        <url-pattern>/ApproveUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMeterServlet</servlet-name>
        <url-pattern>/AddMeterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubsidyUsers</servlet-name>
        <url-pattern>/NewSubsidyUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewSubsidyUserSide</servlet-name>
        <url-pattern>/NewSubsidyUserSide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeNewSubsidyReq</servlet-name>
        <url-pattern>/SeeNewSubsidyReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSubsidyApproval</servlet-name>
        <url-pattern>/ProcessSubsidyApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingBE</servlet-name>
        <url-pattern>/BillingBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getYourBill</servlet-name>
        <url-pattern>/getYourBill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
